<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product</title>
<link href="css/index.css"
        rel="stylesheet">
</head>

<body>


<div class= "wrapper">
     <div class="top-bar clearfix ">
           <div class="top-bar-links">
                <ul>
                      <li><a href="#home">Home</a></li>
                      <li><a>Product </a></li>
                      <li><a href="#contact">Contact</a></li>
                      <li><a href="#about">About</a></li>
               </ul>
           </div>
           
           <div class="site-search">
                <form method="get" action="index.html">
                      <input type="search" name="search-box">
                      <button class ="button" name = "btn" type="submit">Search</button>  
                </form>
           </div>
     
     </div>

</div>




</body>
</html>