<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product</title>
<link href="css/index.css"
        rel="stylesheet">
</head>

<body>


<div class= "wrapper">
     <div class="top-bar clearfix ">
           <div class="top-bar-links">
                <ul>
                      <li><a th:href="@{home}">Home</a></li>
                      <li><a th:href= "@{productpage}">ProductPage </a></li>
                      <li><a th:href="@{contact}">Contact</a></li>
                      <li><a th:href="@{about}">About</a></li>
               </ul>
           </div>
           
           <div class="site-search">
                <form method="get" action="index.html">
                      <input type="search" name="search-box">
                      <button class ="button" name = "btn" type="submit">Search</button>  
                </form>
           </div>
     
     </div>

</div>

<div class = "form">

<form action="/action_page.php">
  <label for="id">ID:</label>
  <input type="text" id="id" name="id"><br><br>
  <label for="name"> name:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="quentity"> quentity:</label>
  <input type="text" id="quentity" name="quentity"><br><br>
  <label for="price"> price:</label>
  <input type="text" id="price" name="price"><br><br>
  <input type="submit" value="Submit">
</form>
</div>



</body>
</html>